header {
    max-width: 576px;
    margin: 0 auto;
    
}

.header-top {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-box {
    display: flex;
}

.sign_up-text {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

.sign_up-title {
    margin-top: 30px;
}

.sign-up-form{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 550px;
    padding: 20px;
}

.login-signup {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
}

.sign-up-login-box {
    text-align: center;
    margin-top: 20px;
}

.input-required {
    color: red;
    vertical-align: top;
    font-size: 12px;
    margin-left: 1px;
}

.sign-up-btn-box button {
    margin-top: 20px;
    height: 50px;
    background-color: #074CA1;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}